body {
  background: linear-gradient(to bottom right, #000000, #000033, #000000); /* Gradiente de color negro a azul oscuro */
  height: 100%; /* Ocupa toda la altura de la ventana del navegador */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

.login-container {
  max-width: 400px;
  margin: auto; /* Centra horizontalmente */
  margin-top: 50vh; /* Centra verticalmente */
  transform: translateY(-50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

  // Estilos para el grid
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  
  // Estilos para los items del grid
  .grid-item {
    display: flex;
    flex-direction: column;
  }
  
  // Estilos para los campos de entrada
  .input-field {
    margin-bottom: 15px;
  }
  
  // Estilos para el botón de login
  .login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  // Estilos para el enlace de registro
  .register-link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }
  }